.page
  max-width: 500px
  margin: 0 auto

.logo
  height: 30px
  padding: 5px 5px 0 5px
  text-decoration: none
  line-height: 2rem
  background: #5a5

  .mit
    float: left
    font-size: 2rem
    color: white

  .mithril
    float: right
    margin-right: 5px
    font-size: 1.5rem
    font-family: Georgia
    font-style: italic
    text-align: right
    color: white

  .icon
    float: right
    font-size: 2.2rem
    color: white

  .icon::before
    content: "\25CB"
    position: absolute
    margin: -0.17em 0 0 -0.10em

  .icon::after
    content: "\25CB"
    position: absolute
    margin: -0.17em 0 0 -0.5em

  .mit:hover, .mithril:hover, .icon:hover
    color: lightblue
    text-decoration: none

.header, .footer
  background-color: wheat
  padding: 10px 

.dothis
  margin: 20px 30px 20px 20px
  color: #5a5
  background-color: lightgoldenrodyellow 
  font-weight: 800
  padding: 10px
  font-family: monospace

.dothis::before
  content: "☞ "  

code.file
  color: lightseagreen
  background-color: #eee

a.docs-icon
  float: right
  margin-top:12px
  background-color: cornflowerblue
  border: 5px solid
  border-color: cornflowerblue
  border-radius: 50%
  text-decoration: none

a.docs-icon::before
  display: block
  content: "Mithril Docs"
  color: white
  font-size: .9rem

a.docs-icon:hover
  background-color: crimson
  border-color: crimson
  text-decoration: none

#example + p
  width: 50%
  height: 160px
  margin-top: 20px

#example
  float: right
  clear: right
  width: 50%
  height: 160px

.example
  background: #ffe
  border: 1px solid #ddd
  display: block
  font: Courier New
  margin-bottom: 20px
  padding: 5px 10px

.example a
  display:block
  margin:0 0 10px

.example a:after
  content:" \bb"