.logo
  font-size: 1em
  font-family: Georgia
  font-style: italic
  text-align: right
  text-decoration: none
  background: #5a5
  color: white
  padding: 5px 5px 0 5px

.logo:hover, .logo span:hover, a.mithril:hover
  color: lightblue
  text-decoration: none

.logo span
  height: 30px
  font-size: 3em
  line-height: .8em
  font-family: initial
  font-style: initial

.logo ::before
  content: "\25CB"
  position: absolute
  margin: -0.17em 0 0 -0.10em

.logo ::after
  content: "\25CB"
  position: absolute
  margin: -0.17em 0 0 -0.5em

.header, .footer
  background-color: wheat  

.dothis
  color: #5a5
  background-color: lightgoldenrodyellow 
  font-weight: 800
.dothis::before
  content: "☞ "  
