doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title MIT - Mithril Interactive Tutorial
    script(src='http://cdn.jsdelivr.net/mithril/0.2.0/mithril.min.js')

  body
    | Welcome to Mithril

    // You will mount your app on document.body
    // or any descendent element.
    // This tutorial is mounted on the body,
    // so the text "Welcome to Mithril" (and these comments)
    // will be replaced with the tutorial app.
    // The browser will load script tags before m.mount() is called.
    // To ensure that that the moounting element exists,
    // load your main script at the end of the body.

    script(src='bundle.js')

