doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Mithril Experiments
    link(rel='stylesheet', href='styles/main.css', type='text/css')
    script(src='http://cdn.jsdelivr.net/mithril/0.2.0/mithril.min.js')

  body
    | Welcome to Mithril

    // You will mount your app on the body or some descendent element
    // To ensure that that element exists, load your main script at the end of the body

    script(src='bundle.js')

